@font-face {
  font-family: "Yerevanyan";
  src: url("Yerevanyan-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Yerevanyan";
  src: url("Yerevanyan-Bold.otf");
  font-weight: 800;
}
