$black: #000000;
$white: #ffffff;
$gray: #E5E5E5;
$gray100: #F5F5F5;
$aubergine: #36304A;
$black100: rgba(0, 0, 0, 0.15);
$black200: rgba(0, 0, 0, 0.25);
$black300: rgba(0, 0, 0, 0.75);
$black400: rgba(0, 0, 0, 0.85);