html, body {
	font-size: 1rem;
}

body {
	font-family: 'Mulish', sans-serif;
}

.container {
	width: 95%;
	max-width: 1660px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 16px 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	&.dark {
		background-color: $aubergine;
		color: $white;
	}
	&.white {
		background-color: $white;
		color: $black300;
		display: inline-flex;
		justify-content: space-between;
	}
	.icon {
		display: inline-block;
		margin-inline-end: 12px;
	}
}