@import "reset.scss";
@import "colors.scss";
@import "mixins.scss";
@import "zindexes.scss";
@import "typography.scss";
@import "common.scss";
@import "utils.scss";

main {
	background-color: $gray100;
    padding: 40px 0 0 0;
}

.row {
    display: flex;
}

.col {
    width: 25%;
}

.ol {
    padding-left: 18px;
    max-width: 400px;
}

.form-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

form {
    width: 100%;
    max-width: 374px;
    flex: none;
    @media only screen and (max-width: 992px) {
        max-width: initial;
        margin-top: 40px;
    }
}

.input-wrapper {
    position: relative;       
    width: 100%;
    .search-input {
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $black100;
        padding: 0 20px 0 44px;
        transition: all 0.2s ease;
        &::placeholder {
            color: $black200;
            font-size: 16px;
        }
        &:focus {
            outline: none;
            border-color: $black400;
        }
    }
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        width: 22px;
    }
}

.mobile-items-container {
    display: none;
}

@media only screen and (max-width: 780px) {
    .mobile-items-container {
        display: block;
        border: 1px solid $black100;
        margin-top: 62px;
    }
    .item-mobile {
        &:nth-child(odd) {
            background-color: $gray100;
            .line-wrap {
                border-bottom: 1px solid $white;
            }
        }
        &:nth-child(even) {
            background-color: $white;
            .line-wrap {
                border-bottom: 1px solid $gray100;
                &:first-child {
                    padding-top: 24px;
                }
                &:last-child {
                    padding-bottom: 24px;
                }
            }
        }
        .line-wrap {
            display: flex;
        }
        .col {
            text-transform: capitalize;
            width: 45%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            padding: 6px 14px;
        }
    }
}