.ttu {
    text-transform: uppercase;
}

.tdu {
    text-decoration: underline;
}

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}